/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4rem;
}

p, a {
    font-size: 3rem;
}

/* header section */
header {
    width: 100%;
    height: 100%;
    background-image: url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

header div {
    /* formatting */
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(225, 239, 230);;

    /* flexbox properties */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

header nav div {
    gap: 0rem;
}

header div h1 {
    /* formatting */
    width: 60%;
    padding: 4% 0;
    text-decoration: none;
    line-height: 4.4rem;
    /* border: 1px solid green; */
    text-align: center;
}

header div h1 a {
    text-decoration: none;
    color: inherit;
    font-size: 4rem;
    /* line-height: 1rem; */
}

header div nav, footer nav {
    /* flexbox properties */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* gap: 1rem; */
}

header div nav button, footer nav button {
	background: none;
	color: inherit;
	border: none;
    /* border: 5px solid red; */
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
 
}

header div nav button a, footer nav button a {
    /* formatting */
    color: inherit;
    text-align: center;
    text-decoration: none;
}

.social {
    padding: 1rem 0;

    flexbox properties
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2.4rem;
}

.social button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    /* width: 3rem; */
}

.social button a {
    color: inherit;
    
}

.social button a i {
    color: inherit;
    width: 1rem;
}

/* spacer */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* menu */
em {
    font-style: italic;
}
hr.solid {
    border-top: 0.5rem solid black;
    text-align: center;
    width: 80%;
    margin: 2rem 10%;
    max-width: 30rem;
    /* padding: 2rem 0; */
}

.menu {
    width: 100%;
    height: auto;
    /* background-image: url('../img/staff-bartender.jpg'); */
    /* background-color: rgb(0, 4, 17); */
    background: rgb(225, 239, 230);
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */

    /* flexbox properties */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* gap: 1rem; */

    padding-top: 4rem;
}

.menu h2 {
    border-bottom: 1rem solid black;
    text-align: center;
    width: 80%;
    margin: 0 10%;
    max-width: 40rem;
}

.menu-section {
    padding-top: 4rem;
    text-align: center;

    /* flexbox properties */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* gap: 1rem; */
}

.menu-section h3 {
    border: 0.5rem solid black;
    text-align: center;
    width: 90%;
    margin: 0 10%;
    max-width: 30rem;
    margin-bottom: 1rem;
}

.menu-item {
    /* flexbox properties */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0rem;

    width: 80%;
    margin: 0 10%;
    max-width: 30rem;
}

.menu-item h4 {

}

.menu-item p {
    
}

.last {
    padding-bottom: 4rem;
}

/* footer section */
footer {
    width: 100%;
    height: 100%;
    padding-top: 2.5vh;
    font-size: 3rem;
    background-color: rgb(0, 4, 17);
    /* border: 1px solid rgb(100, 4, 17); */
    color: rgb(225, 239, 230);

    /* flexbox properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

#signup {
    font-size: 2.4rem;
    width: 80%;
    padding: 1rem 0;

    /* flexbox properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    max-width: 400px;
}

#signup label {
    text-align: center;
    padding: 1rem;
}
#signup input, #signup button {
    font-size: 2rem;
}

#signup button {
    margin-bottom: 1rem;
}

#copyright {
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 1rem;

    /* flexbox properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}
#copyright p {
    font-size: 1.6rem;
}




/* Relevant Screen Checkpoints
   ===========================
   micro: 360px
   mobile: 428px
   tablet: 1024px
   laptop: 1280px
   desktop: 1920px

*/

/* screen sizes greater than or equal to 360px */
@media (min-width: 360px) {
    * {
        /* color: red; */
    }
}

/* screen sizes greater than or equal to 428px */
@media (min-width: 428px) {
    * {
        /* color: orange; */
    }
}

/* screen sizes greater than or equal to 1024px */
@media (min-width: 1024px) {
    * {
        /* color: yellow; */
        max-width: 1280px;
    }

    body {
        width: 100%;
        background-color: rgb(0, 4, 17);
        margin: 0 auto;
        
    }

    hr {
        display: none;
    }

    header div h1 {
        padding-top: 4%;
        padding-bottom: 2%;
    }

    head div nav {
        width: 100rem;
        background-color: none;
    }

    header div nav div {
        /* flexbox properties */
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 10rem;
        /* align-items: center; */
        /* align-content: center; */
        /* gap: 1rem; */
        background-color: transparent;
    }

    header div nav div button, header div nav div button a {
        font-size: 2rem;
        background-color: none;
    }

    .menu {
        width: 100%;
        height: auto;
        background-image: url('../img/staff-bartender.jpg');
        background-color: rgb(0, 4, 17);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: rgb(225, 239, 230);
        text-align: center;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        gap: 1rem;
        padding: 4rem;
        
    }

    .menu-title {
        width: 100%;
        color: rgb(225, 239, 230);
    }

    .menu h2 {
        border-bottom: none;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        /* max-width: 40rem; */
        text-align: center;
        font-size: 4rem;
        color: rgb(225, 239, 230);
    }
    
    .menu-section {
        padding-top: 4rem;
        text-align: center;
    
        /* flexbox properties */
        display: flex;
        width: 50rem;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        gap: 1rem;
        /* background-color: green; */
    }
    
    .menu-section h3 {
        border: none;     
        text-align: left;
        padding-left: 4rem;
        width: 100%;
        margin: 0;
        /* max-width: 30rem; */
        margin-bottom: 1rem;
    }
    
    .menu-item {
        /* flexbox properties */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 0rem;
        padding-left: 4rem;
        min-width: 46em;
        margin: 0%;
    }

    .menu-name {
        width: 80%;
        text-align: left;
        font-size: 3rem;
    }

    .menu-price {
        width: 20%;
        text-align: right;
        font-size: 3rem;
    }

    .menu-desc {
        width: 100%;
        text-align: left;
        font-size: 2rem;
    }

    .last {
        padding-bottom: 0rem;
    }
    
    .social {
        gap: 10rem;
    }

    .gallery div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 4rem;
    }

    .gallery div img {
        max-width: 28%;
    }

    .about h2 {
        padding: 4rem 0;
    }
    .about-container .text {
        padding: 2rem 0;
        width: 80;
    }
    .info {
        display: flex;
        flex-direction: row;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        width: 100%;
        max-width: 128rem;
    }
    footer nav {
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: stretch;
        align-content: center;
    }
    #signup {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #signup input {
        font-size: 1.6rem;
        display: block;
        white-space: nowrap;
        height: 3rem;
        width: 60%;
    }
    #signup button {
        font-size: 1.6rem;
        display: block;
        white-space: nowrap;
        height: 3rem;
    }
    a {
        font-size: 2rem;
    }
    #signup label {
        text-align: center;
        padding: 0rem;
    }
    #signup input {
        font-size: 2.4rem;
    }
    #signup button {
        font-size: 2rem;
    }
    #copyright {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        max-width: 128rem;
        font-size: 1.6rem;
        gap: 1rem;
        margin: 0 auto;
    }
    
}

/* screen sizes greater than or equal to 1280px */
@media (min-width: 1280px) {
    * {
        /* color: green; */
    }
}

/* screen sizes greater than or equal to 1920px */
@media (min-width: 1920px) {
    * {
        /* color: blue; */
    }
}
